.tile {
  height: 100px;
  width: 100%;
  border: 5px solid black;
  display: flex;
}

.scroll {
  background-color: red;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: none;
}

.scroll:hover {
  cursor: pointer;
}
.details {
  height: 100%;
  width: 97%;
  display: flex;
  flex-direction: column;
}
.button {
  display: flex;
  height: 100%;
  width: 3%;
  align-items: center;
  justify-content: center;
}
.delete-button {
  position: fixed;
  width: 20px;
  height: 20px;
  right: 10px;
  border: 5px solid rgb(212, 68, 68);
  text-align: center;
}
.delete-button:hover {
  background-color: rgb(212, 68, 68);
}
